body {  font-family:Alef;  font-size:18px;  line-height:180%  }

.c_center {  clear:both;  position:relative;  margin:0 auto;  }
.c_left {  float:left;  margin-left:0px;  }
.c_right {  float:right;  margin-right:0px;  }
.c_small_font {  font-size:13px;  }

#loginDiv {  width:20%;  margin-top:100px;  }
#loginFieldSet {  direction:rtl;  border-radius:8px;  }

#welcomeH2 {  text-align:center;  }
#buttonDiv {  text-align:center;  }
#errorDiv {  background:yellow;  text-align:center;  }

#loggedUsersTable  {  width:100%;  }

